body, html {
    height: 100%;
    margin: 0;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media only screen and (max-width: 768px) {
    iframe {
        max-width: 100%;
    }
}
